<div class="background" style="background-color: #272B30; width: 1000px; height: 1000px; color: #7A8288">
  This the background and Text color

  <div class="dig" style="background-color: #FF8C00; width: 100px; height: 100px; color: #272B30; border-radius: 5px; position: relative; left: 300px; top: 200px">
    DIG
  </div>

  <div class="Navigate" style="background-color: #4CBB17; width: 100px; height: 100px; color: #272B30; border-radius: 5px; position: relative; left: 190px; top: 100px">
    Navigation and playback green
  </div>
</div>
