<script type="text/javascript" name="hide-sign-in">
  $(function(){
    //this is to fix position of the sign up form
    setTimeout($(".sign-in-form").addClass("unhidden"), 0)
    //roundabout so user can't fill out form while hidden, and to get transition
    $("#sign-in-button").click(function(){
      if ($(".sign-in-form").hasClass("active")) {
        $(".sign-in-form").removeClass("active")
        $(".sign-in-form").one("transitionend", function() {
          $(".sign-in-form").removeClass("unhidden")
        });
      } else {
        $(".sign-in-form").addClass("unhidden")
        setTimeout(function(){
          $(".sign-in-form").addClass("active")
        }, 0);
      }
    });
  });
</script>

<script type="text/javascript" name="guest-login">
  $(function(){
    $("button.guest-pass").click(function(event) {
      event.preventDefault();
      $.ajax({
        url: "/session",
        type: "POST",
        data: {user : {username: "ludwig_vanB_123", password: "IAmBeethoven" } },
        success: function () {
          window.location.href = "/#tutorial";
        }
      });
    });
  });
</script>

<script type="text/javascript" name="sign-in">
  $(function(){
    $("button.sign-in-button").click(function(event) {
      event.preventDefault();
      $.ajax({
        url: "/session",
        type: "POST",
        data: $("#sign-in-form").serializeJSON(),
        success: function () {
          window.location.href = "/#";
        },
        error: function () {
          $("#sign-in-form input").val("")
          $(".sign-in-errors").html("Invalid Credentials")
        }
      });
    });
  });
</script>

<script type="text/javascript" name="sign-up">
  $(function(){
    $("button.sign-up-button").click(function(event) {
      event.preventDefault();
      $("#sign-up-form input").removeClass("error")
      $.ajax({
        url: "/api/users",
        type: "POST",
        data: $("#sign-up-form").serializeJSON(),
        success: function () {
          window.location.href = "/#";
        },
        error: function (response) {
          if (response.responseText.match("Username")) {
            $("#sign-up-form .user-username").addClass("error")
          }

          if (response.responseText.match("Password")) {
            $("#sign-up-form .user-password").addClass("error")
          }

          if (response.responseText.match("Email")) {
            $("#sign-up-form .user-email").addClass("error")
          }
        }
      });
    });
  });
</script>



<video autoplay loop muted id="bgvid">
  <source src="https://www.filepicker.io/api/file/BSOnF03RwGt2ULYJwIWd" type="video/mp4">
</video>

<nav class="navbar navbar-default landing-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="dig-word">DIG</span>-It</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" id="sign-in-button">Sign In</a></li>
    </ul>
  </div>

</nav>

<div class="col-xs-3 col-xs-offset-9 sign-in-form">
  <form id="sign-in-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="text" class="form-control" name="user[username]" placeholder="Username">
    <input type="password" class="form-control" name="user[password]" placeholder="Password">
    <button class="sign-in-button btn btn-default" name="name">Go!</button>
  </form>

  <div class="sign-in-errors"></div>
</div>

<div class="row">
  <form id="sign-up-form">
    <h2 id="sign-up-title">Sign Up</h2>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="text" class="form-control user-username" name="user[username]" placeholder="Username">
    <input type="text" class="form-control user-email" name="user[email]" placeholder="E-mail">
    <input type="password" class="form-control user-password" name="user[password]" placeholder="Password">
    <button class="btn btn-default sign-up-button">Sign Up!</button>
    <button class="btn btn-default guest-pass" name="name">Guest Pass</button>
  </form>
</div>
