<script type="text/javascript" name="hide-sign-in">
  $(function(){
    //this is to fix position of the sign up form
    setTimeout($(".sign-in-form").addClass("unhidden"), 0)
    //roundabout so user can't fill out form while hidden, and to get transition
    $("#sign-in-button").click(function(){
      if ($(".sign-in-form").hasClass("active")) {
        $(".sign-in-form").removeClass("active")
        $(".sign-in-form").transitionend(function() {
          $(".sign-in-form").removeClass("unhidden")
        });
      } else {
        $(".sign-in-form").addClass("unhidden")
        setTimeout(function(){
          $(".sign-in-form").addClass("active")
        }, 0);
      }
    });
  });
</script>

<script type="text/javascript" name="guest-login">
  $(function(){
    $("button.guest-pass").click(function(event) {
      event.preventDefault();
      $.ajax({
        url: "/session",
        type: "POST",
        data: {user : {username: "ludwig_vanB_123", password: "IAmBeethoven" } },
        success: function () {
          window.location.href = "/#";
        }
      });
    });
  });
</script>


<video autoplay loop muted id="bgvid">
  <source src="https://www.filepicker.io/api/file/BSOnF03RwGt2ULYJwIWd" type="video/mp4">
</video>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dig-It</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" id="sign-in-button">Sign In</a></li>
    </ul>
  </div>

</nav>

<div class="col-xs-3 col-xs-offset-9 sign-in-form">
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="text" class="form-control" name="user[username]" placeholder="Username">
    <input type="password" class="form-control" name="user[password]" placeholder="Password">
    <button class="btn btn-default" name="name">Go!</button>
  </form>
</div>

<div class="row sign-up-form col-xs-5 col-xs-offset-4">
  <h2 id="sign-up-title">Sign Up</h2>

  <form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="text" class="form-control" name="user[username]" placeholder="Username">
    <input type="text" class="form-control" name="user[email]" placeholder="E-mail">
    <input type="password" class="form-control" name="user[password]" placeholder="Password">
    <input type="submit" class="btn btn-default sign-up-button" name="name" value="Sign Up!">
    <button class="btn btn-default guest-pass" name="name">Guest Pass</button>
  </form>
</div>
