<script type="text/javascript">
  $(document).ready(function(){
    Capstone.initialize({ router: "landing" });
  });
</script>

<h1>Landing</h1>

<div id="sign-in">

</div>

<div id="sign-up">

</div>
