<script type="text/javascript">
  $(document).ready(function(){
    Capstone.initialize();
  });
</script>

<div id="app-navbar"></div>

<div id="content" class="container-fluid"></div>

<%= button_to "Logout", session_url, method: :delete %>


<div id="playback" class="container-fluid"></div>
