<script type="text/javascript">
  $(document).ready(function(){
    Capstone.initialize();
  });
</script>

<script>
  filepicker.setKey("<%= ENV['FILEPICKER'] %>");
</script>

<div id="app-navbar"></div>

<div id="content" class="container-fluid"></div>

<div id="playback" class="container-fluid"></div>
