<script type="text/javascript">
  $(document).ready(function(){
    Capstone.initialize();
  });
</script>

<h1>Root</h1>

<div id="content">

</div>

<%= button_to "Logout", session_url, method: :delete %>
