/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";

button:focus {
  outline: none;
}

a {
  color: #c8c8c8;
}

#app-navbar {
  position: absolute;
  z-index: 901;
}

#playback {
  position: absolute;
  z-index: 901;
}

#new-song-form {
  z-index: 902;
}

#app-navbar .navbar-fixed-top:before {
  position:absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 51px;
  opacity: .95;
  box-shadow: 0 4px 3px rgba(50,50,50, .75);
  background-color: #32383E;
}

#app-navbar .navbar-fixed-top {
  background-image: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.follow-button.following {
  background-image: none;
  background-color: #4CBB17;
}

.follow-button.not-following {
  background-image: none;
  background-color: #FF8C00;
}

.follow-button.not-following:hover {
  background-image: none;
  background-color: #4CBB17;
}

.dig-word {
  color: #FF8C00;
}

ul.list-of-items {
  margin-bottom: 0;
}

button.expand-button {
  display: block;
  margin: 0 auto;
  top: 10px;
  padding: 2px 8px;
}

.tutorial-helper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid black;
  border-radius: 7px;
}

.tutorial-helper {
  width: 235px;
  position: absolute;
  background-color: #c8c8c8;
  color: #272B30;
  border-radius: 10px;
  padding: 10px;
  border: 4px solid #FF8C00;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  z-index: 5;
}

.list-of-items li:first-child {
  border-top: none;
  border-top-left-radius: 0;
}
