/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";

#app-navbar .navbar-fixed-top:before {
  position:absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 51px;
  opacity: .95;
  box-shadow: 0 4px 3px rgba(50,50,50, .75);
  background-color: #32383E;
}

#app-navbar .navbar-fixed-top {
  background-image: none;
  background-color: transparent;
}

#new-song-button{
  opacity: 1;
}

.follow-button.following {
  background-image: none;
  background-color: #4CBB17;
}

.follow-button.not-following {
  background-image: none;
  background-color: #FF8C00;
}

.follow-button.not-following:hover {
  background-image: none;
  background-color: #4CBB17;
}
