h1.you-dig {
  text-align: center;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#sign-up-title {
  text-align: center;
}

#sign-up-form {
  position: absolute;
  top: 45%;
  left:35%;
  width: 30%;
}

.sign-up-button {
  margin-top: 10px;
}

.sign-in-form {
  display:none;
  opacity: 0;
  position: relative;
  top: -20px;
  right: -15px;
  transition: .4s;
}

.sign-in-form.unhidden {
  display: block;
}

.sign-in-form.active {
  opacity: 1;
  transition: .4s;
}

.sign-in-form input {
  border-radius: 0;
}

.landing-navbar {
  background-image: none;
  opacity: .95;
  background-color: #32383E;
  border-bottom: 1px solid black;
}
//
// #sign-in-form input {
//   text-align: right;
//   background-color: transparent;
//   color: #c8c8c8;
// }
