.leaderboard {
  position: relative;
  top: 30px;
}

li.leaderboard-heading {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #C8C8C8;
  color: #272B30;
}

.leader-songs-list .user-list-item-song-item {
  // display: inline;
  overflow: visible;
  display: block;
}

.leader-list-item {
  min-height: 96px;
}

.leader-list-item:after {
  display: block;
  clear: both;
  content: "";
}

.leaderboard-heading h3 {
  margin-top: 10px;
}

.leader-avatar {
  z-index: 5;
  position:absolute;
  float: left;
}

.leader-username {
  display: block;
}

.list-group.leader-songs-list {
  margin-bottom: 5px;
  list-style: none;
  margin-left: 60px;
}

.leader-username {
  font-size: 16px;
  position: relative;
  top: -4px;
}

button.queue-dropdown {
  background-color: inherit;
  background-image: none;
  font-size: 11px;
  border: none;
  padding: 0 6px;
  display: none;
}

.user-list-item-song-item:hover .queue-dropdown {
  display: inline-block;
}

.user-list-item-song-item .queue-dropdown:hover {
  background-image: none;
}

.leader-list-item .follow-button {
  position: absolute;
  z-index: 5;
  top: 7px;
  right: 9px;
  display: none;
}

.leader-list-item:hover .follow-button {
  display: block;
}

.leaderboard .glyphicon-arrow-right {
  position: absolute;
  top: 121px;
  left: 34px;
  font-size: 38px;
  background-color: transparent;
  z-index: 5;
}

.leaderboard .glyphicon-arrow-right:before {
  color: #4CBB17;
  transition: color .5s;
}

.glyphicon-arrow-right.glowing:before {
  transition: color .5s;
}

.glyphicon-arrow-right.glowing:before {
  color: #FEFCD7;
}
