nav.navbar-fixed-bottom {
  height: 160px;
  background-image: radial-gradient(ellipse 90% 95px, #565656, #2b3035);
  border-top: 1px solid black;
}

button#dig-button {
  position: relative;
  float: right;
  margin-right: 25px;
  top: 25px;
  height: 90px;
  width: 120px;
  border-radius: 15px;
  background-color: #32383E;
}

nav .song-controls {
  padding-right: 0;
}

nav.active button#dig-button {
  background-color: #FF8C00;
  color: black;
  font-size: 48px;
  font-weight: bold;
}

nav .playback-song-info {
  height: 75px;
}

nav .playback-song-info .artist-info {
  font-size: 22px;
}

nav .playback-song-info .playback-song-length {
  position: relative;
  font-size: 18px;
  float: right;
  right: -11%;
}

nav .playback-song-info .playback-divider {
  padding: 0 5%;
  opacity: .4;
}

nav .playback-bar {
  background-color: #32383E;
  width: 112%;
  height: 46px;
  border: 1px solid black;
}

nav.active .playback-bar {
}

nav .placeholder {
  height: 40px;
}

nav .playback-play-button {
  top: 41px;
  background-color: #32383E;
  float: right;
  border-radius: 100%;
  border: 1px solid black;
  height: 60px;
  width: 60px;
}

nav.active .playback-play-button {
  border: 4px solid #4CBB17;
}

nav ul.vol-bars {
  padding-left: 0;
  float: left;
  width: 17px;
  list-style: none;
}

nav li.vol-bar {
  width: 100%;
  height: 8px;
  margin: 4px 0;
  background-color: #32383E;
}

nav.active li.vol-bar {
  background-color: #C8C8C8;
}

nav li.vol {
  left: 3px;
}

//Large height that heatmap playback bar appears to be 2d
.playback-bar canvas {
  width: 100%;
}

.playback-bar {
  overflow: hidden;
}
