nav.navbar-fixed-bottom {
  height: 160px;
  // background-image: radial-gradient(ellipse 90% 95px, #565656, #2b3035);
  // opacity: .95;
  box-shadow: 0px -4px 3px rgba(50,50,50, .75);
  border-top: 1px solid black;
  background-color: transparent;
}

nav.navbar-fixed-bottom:before {
  position:absolute;
  content: "";
  height: 160px;
  width: 100%;
  background-color: #32383E;
  opacity: .95;
  z-index: -1;
}
button#dig-button {
  position: relative;
  float: right;
  margin-right: 25px;
  top: 25px;
  height: 90px;
  width: 120px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #32383E;
  cursor: default;
}

nav .song-controls {
  padding-right: 0;
}

nav.active button#dig-button {
  background-color: #FF8C00;
  color: black;
  font-size: 48px;
  border: 10px solid black;
  cursor: pointer;
}

nav .playback-song-info {
  height: 75px;
}

nav .playback-song-info .artist-info {
  font-size: 22px;
}

nav .playback-song-info .artist-info.username {
  padding-left: 4%
}

nav .playback-song-info .playback-song-length {
  position: relative;
  font-size: 18px;
  float: right;
  right: -4.7%;
  top: 20px;
}

nav .playback-song-info .playback-divider {
  padding: 0 5%;
  opacity: .4;
}

nav .playback-bar {
  position: relative;
  background-color: #32383E;
  top: -7px;
  width: 100%;
  height: 46px;
  border: 1px solid black;
  overflow: hidden;

}

nav.active .playback-bar {
  background-color: #C8C8C8;
  // border-radius: 8px;
}

nav .placeholder {
  height: 40px;
}

nav .playback-play-button {
  cursor: default;
  top: 32px;
  background-color: #32383E;
  float: right;
  border-radius: 100%;
  border: 1px solid black;
  height: 60px;
  width: 60px;
}

nav.active .playback-play-button {
  border: 4px solid #4CBB17;
  cursor: pointer;
}

nav ul.vol-bars {
  position: relative;
  top: 5px;
  padding-left: 0;
  float: left;
  width: 17px;
  list-style: none;
}

nav li.vol-bar {
  width: 100%;
  height: 8px;
  margin: 3px 0;
  background-color: #32383E;
  border: 1px solid black;
}

nav.active li.vol-bar {
  background-color: #C8C8C8;
  border: none;
}

nav.active li.vol-bar.active {
  background-color: #4CBB17;
}

nav li.vol.glyphicon {
  left: 3px;
}

//Large height that heatmap playback bar appears to be 2d
.playback-bar canvas {
  width: 100%;
}

.next-song-info {
  height: 20px;
  width: 100px;
  text-overflow: clip;
}

.playback-song-name {
  margin-top: 11px;
}

#time-counter {
  position: relative;
  float: right;
  top: -24px;
  right: -4%;
  font-size: 14px;
}

.playback-pointers {
  position: relative;
}

.playback-pointers .glyphicon-chevron-up {
  position: absolute;
  left: -4px;
  top: -5px;
}

.playback-pointers .glyphicon-chevron-down {
  position: absolute;
  top: -69px;
  left: -4px
}

.up-next {
  position: relative;
  left: -93px;
  top: 9px;
}

.up-next-song-info {
  position: relative;
  left: -20px;
  top: -11px;
}

.queue .dropup {
  position: absolute;
  top: -1px;
  left: 100px;
}

.queue .dropup button {
  border: none;
  background-image: none;
  background-color: inherit;
}

.queue .dropup button:hover {
  background-color: #272B30;
}

.queue .dropup .dropdown-menu {
  left: -132px;
}

nav.active .queue .dropup button {
  color: #C8C8C8;
}

li.queue-list-item {
  border-bottom: 1px solid #7A8288;
}

li.queue-list-item:last-child {
  border-bottom: none;
}

.queue .skip-controls {
  position: absolute;
  top: 9px;
  left: -124px;
}

.queue .skip-controls .glyphicon-fast-backward {
  right: 9px;
}
