.song-list-item {
  height: 102px;
}

.playback-button {
  float: left;
  position:relative;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 5px solid #4CBB17;
  transition: border .5s;
  padding: 0;
  margin-left: 2%;
  margin-right: 4%;
  font-size: 40px;
}

.playback-button .glyphicon {
  position: absolute;
  top: 14px;
  left: 17px;
  transition: .5s;
}

.playback-button:hover .glyphicon {
  top: 9px;
  left: 12px;
  transition: .5s;
}

.playback-button:hover {
  transition: .5s;
  border: 10px solid #4CBB17;
}

.song-artist-divider {
  opacity: .4;
  padding: 0 1.5%;
}

.song-name {
  margin-top: 3px;
}

.song-user-name {
  margin-bottom: 7px;
}

button.song-list-item-queue-dropdown {
  position: absolute;
  top: 0;
  right: 20px;
  background-image: none;
  background-color: #32383E;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 5px 10px;
  font-size: 10px;
}

button.song-list-item-queue-dropdown:hover {
  background-color: #272B30;
}

.song-list-item ul.queue-options {
  position: absolute;
  top: 2px;
  font-size: 13px;
  width: 160px;
  left: 100%;
  margin-left: -217px;
}

ul.queue-options li a {
  padding: 3px 12px;
}

ul.queue-options li .glyphicon {
  padding-right: 5px;
}
