// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-song-button {
  background-color: #FF8C00;
  color: #272B30;
  font-size: 18px;
  margin-right: 17px;
  margin-top: 5px;
  width: 37px;
  height: 37px;
  border-radius: 6px;
}

#lean_overlay {
    position: fixed;
    z-index: 901;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#content {
  padding-top: 80px;
}

#playback {
  width: 100%;
  height: 210px;
}

#sign-up-form {
  position: absolute;
  top: 30%;
  left:39%;
  width: 30%;
}

button.sign-up-button {
  width: 48%;
  background-image: none;
  background-color: #4CBB17;
}

button.sign-up-button:hover {
  background-image: none;
  background-color: darken(#4CBB17, 15%);
}

button.sign-up-button:active {
  background-image: none;
  background-color: darken(#4CBB17, 30%);
}

button.sign-up-button:focus {
  background-image: none;
  background-color: darken(#4CBB17, 30%);
}

button.guest-pass {
  position: relative;
  top: 10px;
  width: 48%;
  float: right;
  background-image: none;
  background-color: #FF8C00;
}

button.guest-pass:hover {
  background-image: none;
  background-color: darken(#FF8C00, 15%);
}

button.guest-pass:active {
  background-image: none;
  background-color: darken(#FF8C00, 30%);
}

button.guest-pass:focus {
  background-image: none;
  background-color: darken(#FF8C00, 30%);
}

button.sign-in-button {
  position: absolute;
  bottom: -47px;
  right: 25px;
  width: 100px;
}

.sign-in-errors {
  position: absolute;
  font-size: 16px;
  color: red;
  right: 143px;
  top: 90px;
}

#sign-up-form input {
  margin-top: 9px;
}

#sign-up-form input.error {
  border-color: red;
  box-shadow: 0 0 10px red;
  transition: .5s;
}

.about-dig-it {
  position: relative;
  top: 30px;
}

.about-dig-it ul {
  list-style: none;
  padding: 0px;
  position: relative;
  left: -77px;
  top: 93px;
}

.about-dig-it a {
  color: white;
}

.about-dig-it h1 {
  font-size: 50px;
}

.about-dig-it .thumbnails img {
  height: 120px;
}

.about-dig-it .thumbnails {
  position: relative;
  top: 40px;
}
