// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-song-button {
  background-color: #FF8C00;
  color: #272B30;
  font-size: 18px;
  margin-right: 17px;
  margin-top: 5px;
  width: 37px;
  height: 37px;
  border-radius: 6px;
}

#lean_overlay {
    position: fixed;
    z-index: 901;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#content {
  padding-top: 80px;
}

#content:after {
  background-color: #272B30;
  width: 100%;
  height: 155px;
}
