
.user-info {
  background-color: #7A8288;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-list-item .user-avatar {
  float: left;
}
.user-list-item .user-list-item-info {
  float: left;
  padding-left: 20px;
}

.user-list-item .user-name {
  font-size: 20px;
}

.user-list-item:after {
  display: block;
  content: "";
  clear: both;
}

.user-list-item-song-item {
  border: none;
  padding: 0;
}

.user-list-item-song-item button {

}
