// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  width: 30%;
  margin-left: 25px;
  background-color: #7A8288;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
}

.user-info.current-user-info {
  margin-left: 10px;
  width: 100%;
}

.user-info.current-user-info h4 {
  padding-left: 14px;
}

.user-info.current-user-info .about-me {
  padding-left: 14px;
}

.user-info .user-avatar {
  margin-left: 20px;
  float: left;
}

.user-info.current-user-info .user-avatar {
  margin-left: 30px;
}

.user-info .user-facts {
  float: left;
}

.user-info.current-user-info .user-facts{
  padding-left: 30px;
}

.user-info .user-username {
  float: left;
  margin: 0 14px;
}

.user-info .user-facts {
  list-style: none;
  padding-left: 14px;
  padding-top: 7px
}

.user-info .user-info-heading {
  font-weight: bold;
  padding-right: 14px;
}

.user-info .user-list-item-song-item {
  background-color: inherit;
  overflow: visible;
}

.user-info .user-list-item-song-item .glyphicon-play {
  background-color: inherit;
}

.user-info .user-list-item-song-item .queue-dropdown {
  background-color: inherit;
}

.user-info button.follow-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
