<h3>Hey <%= Capstone.currentUser.escape("username") %>, you Dig?</h3>

<p>
  Dig-It is a way for independent artists to easily share their music.
</p>

<p>
  We all know that checking out music can be a commitment. Let's face it -- some songs are LONG! That's why we created a special <strong id="heatmap-word">heatmap</strong> playback. Jump to the best part of the song or "Dig" your favorite parts!
</p>
