<h3>Hey there <%= Capstone.currentUser.escape("username") %>!</h3>

<p>
  Dig-It is a way for independent artists to easily share their music.
</p>

<p>
  We all know that checking out music can be a commitment. Let's face it -- music is LONG! That's why we create a special <strong>heatmap</strong> playback. Jump to the best part of the song or "Dig" certain parts to help others!
</p>

<p>
  You Dig?
</p>
