<div class="row">
  <div class="col-xs-3 col-xs-offset-1">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKkAAAAJGQzY2RlY2VmLTJhZWUtNDkzMy04ZjIzLTlkMTQwMDY5ZmU2ZQ.jpg"/>
    <ul class="contact-info">
      <li><a href="#">CV</a></li>
      <li><a href="https://github.com/robert-yaman">Github</a></li>
      <li><a href="https://www.linkedin.com/profile/view?id=ADEAABbUsXIBVVTYP9xSQfGFNNYbGV8Oq2HTRsk&authType=NAME_SEARCH&authToken=lCus&locale=en_US&srchid=4375902121440176452864&srchindex=2&srchtotal=2&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A4375902121440176452864%2CVSRPtargetId%3A383037810%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH">Linkedin</a></li>
    </ul>
  </div>

  <div class="col-xs-6">
    <h1><span class="dig-word">DIG</span> - It</h1>
    <p>
      Dig-It is a non-commerical clone of <a href="https://soundcloud.com">SoundCloud</a>
      made by Robert Yaman (← that guy) for his capstone project at
      <a href="http://www.appacademy.io/#p-home">App Academy</a>.
    </p>

    <p>
      The heatmap playback was made using <a href="http://www.patrick-wied.at/static/heatmapjs/">
      heatmap.js</a> and Canvas. Heatmap.js is a great plugin, but there is no way
      to make non-circular entries on a heatmap. To get around this, I stretched
      the canvas to about a hundred times the height of its containing element so
      that the data points would be distorted to look straight.
    </p>

    <p>
      About halfway through this project I realized that the color pallete I chose
      was pretty much just a hybrid of SoundCloud and Spotify, the two music apps
      I use on a regular basis, but by that point it was too late to change.
    </p>

    <p>
      Special thanks to the late-night crew at a/A. We had regular team-debugging
      sessions where we helped each other catch awful typo-based bugs, of which
      there were (probably too) many in my code.
    </p>
  </div>
</div>

<div class="row thumbnails">
  <a class="col-xs-2 col-xs-offset-1" href="http://rubyonrails.org/" >
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png"/>
  </a>

  <a class="col-xs-2" href="http://backbonejs.org/">
    <img src="http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/102012/backbone.png?itok=rtW4gZ4p"/>
  </a>

  <a class="col-xs-2" href="https://jquery.com/">
    <img src="http://www.appacademy.io/assets/site/technology/jquery-ad6d018103218d571665683c5d8e700d.png"/>
  </a>

  <a class="col-xs-2" href="http://www.postgresql.org/">
    <img src="http://www.tivix.com/uploads/blog_pics/postgresql_1.png"/>
  </a>

  <a class="col-xs-2" href="http://getbootstrap.com/">
    <img src="http://cdn-st.shailan.com/wp-content/uploads/bootstrap-b-logo.jpg"/>
  </a>

</div>
