<h3>Hey <%= Capstone.currentUser.escape("username") %>, you Dig?</h3>

<p>
  Dig-It is a way for independent artists to easily share their music, and a way
  for music lovers to find the parts they'll love the most.
</p>

<p>
  There's a ton of music out there. And let's face it -- we don't have time to listen
  to everything that deserves a listen. That's why we created a special
  <strong id="heatmap-word">heatmap</strong> playback. Jump to the best part of
  the song or "Dig" your favorite parts!
</p>
