<div class="row">

  <div class="user-avatar">
    <img src="http://www.gravatar.com/avatar/<%= user.get("md5") %>?s=110" alt="" />
  </div>

  <h3 class="user-username">
    <%= user.escape("username") %>
  </h3>
</div>

<div class="row">
  <ul class="user-facts">
    <li class="member-since"><span class="user-info-heading">Member since:</span><%= user.get("joined") %></li>

    <% if (!user.mostPopularSong().isNew()) { %>
      <li class="most-popular-song"><span class="user-info-heading">Most Popular Song:</span><span class="song-item"></span></li>
    <% } %>

    <li class="karma">
      <span class="user-info-heading">Karma:</span>
      <% if (user.get("karma") === -1) { %>
        Get Digging!
      <% } else { %>
        <%= user.get("karma") %>
      <% } %>
    </li>
  </ul>
</div>

<h4>About Me: <span class="glyphicon glyphicon-edit"></span></h4>
<div class="about-me"></div>
<% if (user.escape("about_me").length === 0) { %>
  <a href="#" class="tell-us">Tell us about yourself!</a>
<% } %>
