<div class="row">
  <div class="col-xs-4">
    <div class="current-user-info user-info "></div>
    <div class="followed-by"></div>
  </div>
  <div class="current-user-feed col-xs-8"></div>
</div>

<div class="modal-list"></div>
