<ul class="nav nav-tabs">
  <li role="presentation" class="active some-songs"><a href="#">Some Songs</a></li>
  <li role="presentation" class="some-users"><a href="#">Some Users</a></li>
</ul>

<div class="current-list"></div>
