<ul class="nav nav-tabs">
  <li role="presentation" class="active recent"><a href="#">Recent</a></li>
  <li role="presentation" class="top"><a href="#">Top</a></li>
  <li role="presentation" class="following"><a href="#">Following</a></li>
  <li role="presentation" class="new-user"><a href="#">New Users</a></li>
</ul>

<div class="current-list"></div>
