<span class="leader-username"><%= user.escape("username") %></span>
<div class="user-avatar">
  <img src="http://www.gravatar.com/avatar/<%= user.get("md5") %>?s=50" alt="" />
</div>
<ul class="leader-songs-list list-group"></ul>
