<div class="avatar-and-username">
  <span class="leader-username"><a href="#users/<%= user.id %>"><%= user.escape("username") %></a></span>
  <div class="user-avatar">
    <img src="http://www.gravatar.com/avatar/<%= user.get("md5") %>?s=50" alt="" />
  </div>
</div>
<ul class="leader-songs-list list-group"></ul>
