
<nav class="nav navbar-default navbar-fixed-bottom">
  <div class="audio-tag"></div>
  <div class="col-xs-1">
    <button class="glyphicon glyphicon-play"></button>
  </div>

  <div class="col-xs-8">
    <div class="playback-song-info"></div>

    <div class="playback-bar"></div>
  </div>

  <div class="col-xs-3">
    <div class="queue"></div>

    <button id="dig-button"></button>
  </div>
</nav>
