<nav class="nav navbar-default navbar-fixed-bottom">
  <div id="light-up-modal"></div>

  <audio class="audio-tag"></audio>
  <div class="song-controls col-xs-1">
    <div class="placeholder"></div>

    <button class="playback-play-button glyphicon"></button>
    <ul class="vol-bars">
      <li class="vol glyphicon glyphicon-volume-up" data-vol-level=6></li>
      <li class="vol vol-bar" data-vol-level=6></li>
      <li class="vol vol-bar" data-vol-level=5></li>
      <li class="vol vol-bar" data-vol-level=4></li>
      <li class="vol vol-bar" data-vol-level=3></li>
      <li class="vol vol-bar" data-vol-level=2></li>
      <li class="vol vol-bar" data-vol-level=1></li>
      <li class="vol glyphicon glyphicon-volume-off" data-vol-level=0></li>
    </ul>

  </div>

  <div class="col-xs-9">
    <div class="playback-song-info"></div>

    <div class="playback-bar"></div>
    <div class="playback-pointers"></div>

    <div class="time-counter"></div>
  </div>


  <div class="col-xs-2">
    <div class="queue"></div>

    <button id="dig-button">DIG</button>
  </div>
</nav>
