
<div class="playback-button btn"><div class="glyphicon glyphicon-play"></div></div>

<h4 class="song-name">
  <%= song.escape("name") %>
</h4>

<div class="song-artist">
  <p class="song-user-name">
    <%= song.get("username") %>
    <% if (song.escape("artist_name")) { %>
      <span class="song-artist-divider">|</span>
      <%= "by " + song.escape("artist_name") %>
    <% } %>
  </p>
</div>

<p class="song-length">
  <%= song.length() %>
</p>
