<h2>New Song</h2>

<form class="new-song-form">
  <div class="form-group">
    <label for="song-name">Name</label>
    <input type="text" class="form-control" name="song[name]" id="song-name">
  </div>

  <div class="form-group">
    <label for="song-artist">Artist</label>
    <input type="text" class="form-control" name="song[artist_name]" id="song-artist">
  </div>

  <div class="form-group fp">
    <input id="filepicker-input"
           type="filepicker-dragdrop"
           name="song[file_path]"
           data-fp-mimetype="audio/*">
  </div>

  <button class="submit btn btn-default">Go!</button>
</form>
