<a href="#modal-search-view" class="all-songs">+ all</a>

<ul class="nav nav-tabs">
  <li role="presentation" class="active recent"><a href="#">Recent</a></li>
  <li role="presentation" class="top"><a href="#">Top</a></li>
</ul>

<div class="current-list"></div>

<button class="btn btn-default expand-button glyphicon glyphicon-collapse-down"></button>
