<div class="user-avatar">
  <img src="http://www.gravatar.com/avatar/<%= user.get("md5") %>?s=80" alt="" />
</div>

<div class="user-list-item-info">
  <p class="user-name">
    <a href="#users/<%= user.id %>"><%= user.escape("username") %></a>
  </p>

  <ul class="user-songs-list list-group">

  </ul>
</div>
