<div class="user-avatar">
  <img src="http://www.gravatar.com/avatar/<%= user.get("md5") %>?s=85" alt="" />
</div>

<div class="user-list-item-info">
  <p class="user-name">
    <a href="#users/<%= user.id %>"><%= user.escape("username") %></a>
    <% if (user.id !== Capstone.currentUser.id ) { %>
      <% if (user.isBeingFollowed()) { %>
        <button class="btn btn-default follow-button following">Following</button>
      <% } else { %>
        <button class="btn btn-default follow-button not-following">+ Follow</button>
      <% } %>
    <% } %>
  </p>

  <ul class="user-songs-list list-group">

  </ul>
</div>
