<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="http://a2.mzstatic.com/us/r30/Purple/v4/92/b8/33/92b83304-651d-e99b-949f-d5589268b5d1/icon_256.png" sizes="32x32">
  <title>Dig-It</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- FilePicker -->
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <!-- For the dig button -->
</head>
<body>

<%= yield %>



</body>
</html>
