<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="http://a2.mzstatic.com/us/r30/Purple/v4/92/b8/33/92b83304-651d-e99b-949f-d5589268b5d1/icon_256.png" sizes="32x32">
  <title>Dig-It</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- FilePicker -->
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67284929-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<%= yield %>

</body>
</html>
